# Entornos virtuales (venv)
venv/
.venv/
env/
bin/
lib/
include/
data/db
user_data_clean/
app/browser_data
app/logs
state.json
app/debug_screenshot.png
app/debug_state_check.png
app/debug_detail_screenshot.png
bot_check.png
logs/bot.log
# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno y secretos (¡MUY IMPORTANTE!)
.env
.env.local

# Archivos del sistema operativo
.DS_Store
Thumbs.db
context_cache/
.vscode/
