# Entornos virtuales (venv)
venv/
.venv/
env/
bin/
lib/
include/
data/db
user_data_clean/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno y secretos (¡MUY IMPORTANTE!)
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db
