# Core Frameworks
python-telegram-bot==22.7
httpx==0.28.1

# Database (MongoDB Async)
motor==3.7.1
pymongo==4.17.0

# --- Inteligence Artificial ---
google-genai==1.74.0
jinja2==3.1.6

# --- & Scraping ---
playwright==1.58.0
beautifulsoup4==4.12.3

# --- Estructura & Configuración ---
pydantic[email]==2.13.3
pydantic-settings==2.14.0
python-dotenv==1.2.2

# --- Utilidades ---
loguru==0.7.2
python-jose[cryptography]==3.3.0
bcrypt==4.2.1

# --- API ---
fastapi>=0.109.0
uvicorn>=0.27.0
